<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<th:block th:include="style"></th:block>
<body>
<th:block th:include="headerBlock"></th:block>
<form action="#" th:action="@{/add_product}" th:object="${productFields}" method="post">
    <p>Product name: <input type="text" th:field="*{name}" ></p>
    <p>Product description(optional): <input type="text" th:field="*{description}" ></p>
    <p>Product photo(optional): <input type="text" th:field="*{photo}" ></p>
    <p>Product price: <input type="text" th:field="*{price}"></p>
    <p>Product category: <input type="text" th:field="*{categoryName}"></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <a href="/">cancel and return to main</a>
</form>
</body>
</html>