<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1> <a href="/" style="text-decoration: none; text-color:black">internet shop</a></h1>
    </header>
    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        <tr th:each="product: ${productsList}">
            <td ><a th:href="'/watch_product?pr_id='+${product.getId()}" th:text="${product.getName()}"></a></td>
            <td th:text="${product.getCategory()}"></td>
            <td th:text="${product.getPrice()}"></td>
        </tr>
    </table>
    <a href="/add_product">add_product</a>
</body>
</html>