<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<form action="#" method="POST" th:action="@{/register}" th:object="${registerForm}">
    <label>Username: </label>
    <input type="text" th:field="*{username}"/><br/>
    <label>Password: </label>
    <input type="password" th:field="*{password}"/><br/>
    <label >Confirm password: </label>
    <input type="password" name="confirm"/><br/>
    <label>Full name: </label>
    <input type="text" th:field="*{fullname}"/><br/>
    <label >Street: </label>
    <input type="text" th:field="*{street}"/><br/>
    <label> City: </label>
    <input type="text" th:field="*{city}"/><br/>
    <label>State: </label>
    <input type="text" th:field="*{state}"/><br/>
    <label>Zip: </label>
    <input type="text" th:field="*{zip}"/><br/>
    <label>Phone: </label>
    <input type="text" th:field="*{phone}"/><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>